<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993737959089-pc0lp2ief5kpn93ids7jumb6bm4j1elp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993737959089-pc0lp2ief5kpn93ids7jumb6bm4j1elp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_32llXvhp7wcYC4neYkaC8mFRHY14E7U</string>
	<key>GCM_SENDER_ID</key>
	<string>993737959089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.sharlon.copaDoMundo2022</string>
	<key>PROJECT_ID</key>
	<string>copa2022-480e0</string>
	<key>STORAGE_BUCKET</key>
	<string>copa2022-480e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993737959089:ios:461f236433271c077c2490</string>
</dict>
</plist>